@using Sitecore.Mvc
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
layout test
<div>
    @Html.Sitecore().Placeholder("main")
</div>
</body>
</html>
