<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Events">
          <targetDataStore physicalRootPath="$(sourceFolder)\Feature\Events\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Events.EventList" database="master" path="/sitecore/content/Starter/Home/Event-List" />
            <include name="Feature.Events.EventsRepository" database="master" path="/sitecore/content/Starter/Shared Content/Events Repository" />
            <include name="Feature.Events.Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Starter/Feature/Events" />
            <include name="Feature.Events.Renderings" database="master" path="/sitecore/layout/Renderings/Starter/Feature/Events" />
            <include name="Feature.Events.Templates" database="master" path="/sitecore/templates/Starter/Feature/Events" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
