<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Epam.Sc.EngX.CodeGeneration" version="1.1.12" />
  <package id="Epam.Sc.EngX.ConfigTransform" version="1.0.1" />
  <package id="Epam.Sc.EngX.NuGetGeneration.TDS" version="1.0.19" />
  <package id="NuGet.CommandLine" version="3.5.0" developmentDependency="true" />
</packages>