@using Starter.Feature.Navigation.Models
@model BreadcrumbItemList

<ol class="breadcrumb">
    @foreach (var item in Model.Breadcrumbs)
    { 
        <li style="display: inline;">
            <a href="@item.ItemUrl">
                @item.Title
            </a> /
        </li> 
    }
</ol>
