<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <!-- Path to the solution source folder e.g. C:\Projects\Starter\src\ -->
    <sc.variable name="serializationSource" value="$(dataFolder)\Unicorn\" />
    <sc.variable name="sourceFolder" value="C:\SitecoreTask\sc-starter\src" />
    <settings>
      <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="162" />
      <setting name="Rainbow.SFS.MaxItemNameLengthBeforeTruncation" value="38" />
    </settings>
  </sitecore>
</configuration>